%h2 Opinions
%br
%br

%table#opinions_table
  %thead
    %tr
      %th Updated
      %th Symbol
      %th Action
      %th Price
      %th Return
      %th General Comments
  %tbody
    - @opinions.each do |opinion|
      - stock = opinion.stock
      %tr
        %td= opinion.updated_at.strftime "%Y-%m-%d"
        %td.symbol= link_to stock.symbol, "/stocks/#{stock.symbol}"
        %td.action= opinion.action
        %td.price= opinion.price
        %td.return= "wait"
        %td.comments= opinion.general_comments

= js "initOpinionsPg"