- if stmts.length > 0
  - red_green_attrs = [:m_cashflow, :net_tang_eq]
  - st = stmts[0]
  - cur = st.currency
  - units = st.units
  %table.fin_stmt
    - if defined? title
      - wsj_original_stmt = "http://quotes.wsj.com/#{stock.symbol}/financials/#{period_type}/#{stmt_type}"
      %tr
        %th.type
          /%strong=link_to(title, wsj_original_stmt, :target=>"_blank")
          - url = "http://quotes.wsj.com/#{stock.symbol}/financials/#{period_type}/#{stmt_type}"
          - #url = "http://quotes.wsj.com/ANR/financials/annual/income-statement"
          %strong=link_to(title, url, :target=>"_blank")
          %span.units #{cur}#{units ? "-#{units[0]}" : ""}
        - stmts.each do |st|
          %th.val.date=st.period_end.strftime("%Y-%m")
          %th.pct="%ch"
    - attrs.each do |attr|
      %tr
        %td.lbl=stmts[0].label(attr)
        - pct_class = ["pct"]
        - stmts.each do |st|
          - klasses = ["val"]
          - klasses << (!st[attr].blank? and st[attr] < 0 ? "neg_val" : "pos_val") if red_green_attrs.include?(attr)
          %td{:class=>klasses.join(" ")}=number_with_precision(st[attr], :delimiter=>",", :precision=>0)
          - growth_text=""
          - if growth_fields.include? attr
            - gr_attr = st["#{attr}_growth"]
            - growth_pct = number_with_precision(gr_attr, :delimiter=>",", :precision=>0)
            - growth_text="#{growth_pct}%"
          %td{:class=>pct_class}=growth_text
